body{
  font-family: 'Roboto';;
}

.corpoJogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jogo{
  display: flex;
  margin: 70px;
  justify-content: space-between;
}

.jogo button{
  width: 200px;
  height: 60px;
  background: #27AE60;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  border: none;
}

img{
  width: 400px;
  margin-right: 200px;
}

.iniciaJogo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px
}

.palavra{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.alfabeto{
  width: 676px;
  display: flex;
  flex-wrap: wrap;
}

.alfabeto .desabilitado{
  width: 40px;
  height: 40px;
  margin-right: 12px;
  margin-bottom: 12px;
  background: #9FAAB5;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  color: #798A9F
}

.alfabeto .habilitado{
  width: 40px;
  height: 40px;
  margin-right: 12px;
  margin-bottom: 12px;
  background: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  color: #39739D;
}

.vermelho{
  color: #FF0000;
}

.verde{
  color: #27AE60;
}

.input-de-chute{
  min-width: 600px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

p{
  white-space: nowrap;
  font-size: 20px;
  line-height: 23px;
  width: 144px;
  margin-right: 15px;
}

input{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 353px;
  height: 40px;
}

.input-de-chute button{
  width: 100px;
  height: 40px;
  background: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  color: #3C76A1;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-left: 15px;
}

.displayNone{
  display: none;
}